<!DOCTYPE html>
<html xmlns:th="http://www.w3.org/1999/xhtml">
<head th:replace="fragments/header :: siteHead"></head>

<body class=" relative antialiased overflow-x-hidden ">

<div th:replace="fragments/header :: header"></div>

<div th:replace="fragments/common-fragment :: floatingAlerts"></div>

<div th:replace="fragments/common-fragment :: searchBox"></div>

<div th:replace="fragments/common-fragment :: searchresult"></div>

<div th:replace="fragments/common-fragment :: offers"></div>

<div th:replace="fragments/common-fragment :: reviews"></div>

<div th:replace="fragments/common-fragment :: reviewform"></div>


<div th:replace="fragments/footer :: footer"></div>

<!-- Load JavaScript files -->
<script th:src="@{/js/customAlert.js}"></script>
<script th:src="@{/js/header.js}"></script>
<script th:src="@{/js/common.js}"></script>
<script th:src="@{/js/jquery-3.6.0.min.js}"></script>
<script th:src="@{/js/bootstrap.bundle.min.js}"></script>
</body>
</html>
