<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login</title>
    <link rel="stylesheet" th:href="@{/css/bootstrap.min.css}" >
    <script th:src="@{/js/jquery-3.6.0.min.js}"></script>
    <script th:src="@{/js/bootstrap.bundle.min.js}"></script>
    <link th:href="@{/css/homeStyle.css}" rel="stylesheet">
    <link th:href="@{/css/customAlert.css}" rel="stylesheet">
</head>
<body>
<!--Login-->
<div class="container mt-5">
    <div th:replace="fragments/common-fragment :: floatingAlerts"></div>
    <div class="row justify-content-center">
        <div class="col-md-6 col-lg-4">
            <div class="card shadow rounded-4">
                <div class="card-body">
                    <h3 class="card-title text-center text-primary">Login</h3>
                    <p class="text-center">Enter your username and password to access your account.</p>

                    <!-- Error Message -->
                    <div th:if="${error}" class="text-decoration-none">
                        <p class="text-danger">Invalid username or password</p>
                        <a th:href="@{/}">back to Homepage</a>
                    </div>

                    <form id="loginForm" th:action="@{/users/login}" method="POST">

                        <div class="mb-3">
                            <label for="username" class="form-label">Username</label>
                            <input type="text" class="form-control" id="username" name="username" placeholder="Enter your username" required>
                        </div>
                        <div class="mb-3">
                            <label for="password" class="form-label">Password</label>
                            <input type="password"  class="form-control" id="password" name="password" placeholder="Enter your password" minlength="6" maxlength="16" required>
                        </div>
                        <div class="d-grid mt-4">
                            <button type="submit" id="loginBtn" class="btn btn-primary rounded-3">Login</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- Required JS Files -->
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js"></script>
<script src="/js/common.js"></script>
<script th:src="@{/js/customAlert.js}"></script>
</body>
</html>
