<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Edit Room</title>
    <link rel="stylesheet" th:href="@{/css/bootstrap.min.css}">
</head>
<body>

<!--edit room-->
<div class="container my-5">
    <h2 class="mb-4">Edit Room</h2>
    <a th:href="@{/a/home}" class="btn btn-secondary">Back To Homepage</a>


    <form th:action="@{/rooms/update}" th:object="${room}" method="post" enctype="multipart/form-data">
        <input type="hidden" th:field="*{id}" />

        <div class="row">

            <div class=" col-6 mb-3">
                <label class="form-label">Room Number</label>
                <input type="text" class="form-control" th:field="*{roomNumber}" readonly />

                <div class="mb-3">
                    <label class="form-label">Change Image</label>
                    <input type="file" class="form-control" name="imageFile" />
                </div>
            </div>

            <div class="col-6 mb-3">
                <label class="form-label">Current Room Image</label>
                <div>
                    <img th:if="${room.imagePath != null and room.imagePath != ''}"
                         th:src="@{'/images/rooms/' + ${room.imagePath}}"
                         alt="Room Image"
                         class="rounded-4 mb-3"
                         style="width:300px; height:auto; object-fit:cover;" />
                    <p th:if="${room.imagePath == null or room.imagePath == ''}">
                        No image uploaded for this room.
                    </p>
                </div>
            </div>

        </div>

        <div class="mb-3">
            <label class="form-label">Room Type</label>
            <select class="form-select" th:field="*{roomType.typeName}">
                <option th:each="type : ${session.roomTypes}"
                        th:value="${type.typeName}"
                        th:text="${type.typeName}"></option>
            </select>
        </div>

        <div class="mb-3">
            <label class="form-label">Price</label>
            <input type="number" class="form-control" th:field="*{price}" step="0.01" />
        </div>

        <div class="mb-3">
            <label class="form-label">Capacity</label>
            <input type="number" class="form-control" th:field="*{capacity}" />
        </div>

        <div class="mb-3">
            <label class="form-label">Availability</label>
            <select th:field="*{availability}" class="form-control">
                <option th:value="true">Available</option>
                <option th:value="false">Not Available</option>
            </select>
        </div>

        <div class="mb-3">
            <label for="discount" class="form-label">Discount (%)</label>
            <input type="number" class="form-control" id="discount" th:field="*{discount}">
        </div>

        <div class="mb-3">
            <label for="status" class="form-label">Status</label>
            <input type="text" class="form-control" id="status" th:field="*{status}">
        </div>
        <div class="mb-3">
            <label for="description" class="form-label">Description</label>
            <textarea class="form-control" id="description" th:field="*{description}"></textarea>
        </div>

        <button type="submit" class="btn btn-primary">Save Changes</button>
        <a th:href="@{/a/home}" class="btn btn-secondary">Cancel</a>
    </form>

</div>

<script th:src="@{/js/admin/admin.js}"></script>
</body>
</html>
